APP_NAME=Setlist Club API
API_PREFIX=/api/v1
SECRET_KEY=${SECRET_KEY}
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

MYSQL_HOST=${MYSQL_HOST}
MYSQL_PORT=3306
MYSQL_DB=${MYSQL_DB}
MYSQL_USER=${MYSQL_USER}
MYSQL_PASSWORD=${MYSQL_PASSWORD}

REDIS_HOST=redis.default.svc.cluster.local
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
